#flex-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 40px);
}
#login-register-container{
	background-color: #02172b;
    height: 60vh;
    width: 60vh;
    position: relative;
    color: #F8F8F8;
    border-radius: 1.2vw;
    overflow: hidden;

	& > div{
		width: 100%;
	}
}
form{
	text-align: center;
}
.right-align-form{
	text-align: right;
    display: inline-block;
}
label{
	display: block;
    margin-bottom: 2vh;
    font-size: 2.9vh;
}
input{
	height: 4.2vh;
    font-size: 3vh;
    padding: 1vh;
    width: 30vh;
}
.btn, .toggle{
	cursor: pointer;
	font-size: 3vh;
	width: 15vh;
	box-sizing: border-box;
}
.btn{
	border-radius: 1vh;
    margin-top: 1vh;
    background-color: #fdfefc;
    border-width: 0;
    color: #02182b;
    line-height: 7vh;
    white-space: nowrap;
    padding: 0 3vw;
    width: auto;
}
.toggle{
	position: absolute;
	bottom: 0;
	right: 0;
	color: #eee;
	border: none;
	background-color: #2184FF;
	border-radius: 0.7vw 0;
	line-height: 7vh;
    width: 22vh;
}
.logout{
	right: initial;
	left: 0;
	background-color: #da3b36;
    border-radius: 0 0.7vw;
}
.btn:hover, .toggle:hover, .logout:hover{
	text-decoration: underline;
}
.title{
	margin-left: 10%;
	font-size: 4.5vh;
}
