<div id="room">
	<div *ngIf="room" id="loaded-when-room-received" 
		class="cameracount-{{ cameraCountClassNumber }}">
		<!-- <p>Room Name: {{room.name}}</p> -->
		<!-- <p>Room Id: {{room.id}}</p> -->
		<!-- <p>Room Creator Id: {{room.creator_id}}</p> -->
		
		<div class="camera-container">
			<div class="vertical-centering">
				<div [id]="localCallId" class="camera local"></div>
				<div class="info">{{ user | displayName }}</div>
			</div>
		</div>
		<div *ngFor="let callId of remoteCalls" class="camera-container">
			<div class="vertical-centering">
				<div [id]="callId" class="camera remote"></div>
				<div class="info">{{ remoteCallUsers[callId] | displayName }}</div>
			</div>
		</div>
	</div>
	<div *ngIf="roomNotFound">
		Room not found.
	</div>
</div>
