<ng-container *ngIf='gameActive'>
	<div id="shared-cards">
		<div *ngFor='let cardNumberSuit of sharedCards' class="card {{cardNumberSuit}}"></div>
	</div>
	<div id="pot-wrapper">
		<div class="poker-chipcounter"><span>{{ potChips | currency }}</span></div>
	</div>
	<div id="action-buttons" *ngIf='isMyTurn()'>
		<div *ngIf='turnOptions === "before-bets"'><button (click)="check()" id="check">Check</button></div>
		<div *ngIf='turnOptions === "after-bets"'><button (click)="call()" id="call">Call: costs {{ costToCall | currency }}</button></div>
		<div *ngIf='turnOptions === "before-bets"'><button (click)="bet()" id="bet" [class.disabled]='!(betAmount > 0)'>Bet</button><input type="number" #bet (keyup)="changeBet(bet.value)" placeholder="Amount" /></div>
		<div *ngIf='turnOptions === "after-bets"'><button (click)="raiseBet()" id="raise" [class.disabled]='!(raiseAmount > 0)'>Raise</button><input type="number" #raise (keyup)="changeRaise(raise.value)" placeholder="Amount" /><span id="total-bet-from-raise">Total: {{ getTotalCostToRaise() | currency}}</span></div>
		<div><button (click)="fold()" id="fold">Fold</button></div>
		<div *ngIf='turnOptions === "end-called"'><button (click)="showCards()" id="show-cards">Show Cards</button></div>
		<div *ngIf='turnOptions === "end-called"'><button (click)="muckCards()" id="muck-cards">Muck Cards (Don't show)</button></div>
	</div>
</ng-container>
<ng-container *ngIf='!gameActive'>
	<p *ngIf="playerList.length > 0">Player List:</p>
	<ol>
		<li *ngFor="let player of playerList">{{player.displayName}} (id: {{player.id}})</li>
	</ol>
	<div id="action-buttons" *ngIf='playerList.length > 1'>
		<div><button id="start-game" (click)='startGame()'>Start Game!</button></div>
	</div>
</ng-container>
<!-- Load image assets before needed -->
<div id="preloader"></div>







<!-- Buttons for faking state -->

<!-- <p>
	details for socket init:
</p>
<ul>
	<li>user id: {{user.id}}</li>
	<li>user name: {{user | displayName}}</li>
	<li>room id: {{room.id}}</li>
	<li>room name: {{room.name}}</li>
</ul>
<br> -->

<!-- <p>
	Change current player (yellow highlighting):
</p>
<button (click)="changeCurrentPlayer(1)">Change to player 1</button>
<button (click)="changeCurrentPlayer(2)">Change to player 2</button>
<button (click)="changeCurrentPlayer(3)">Change to player 3</button>
<button (click)="changeCurrentPlayer(user.id)">Change to me</button>
<br><br> -->

<!-- <p>
	Load temp player list:
</p>
<button (click)="changePlayerList([{id: user.id, displayName: null}, {id: 1, displayName: null}, {id: 2, displayName: null}, {id: 3, displayName: null}, {id: 4, displayName: null}])">Load players, self + 4</button>
<button (click)="changePlayerList([{id: user.id, displayName: null}, {id: 1, displayName: null}, {id: 2, displayName: null}, {id: 3, displayName: null}, {id: 4, displayName: null}, {id: 5, displayName: null}, {id: 6, displayName: null}, {id: 7, displayName: null}])">Load players, self + 7</button> -->

<!-- 
<p>
	Deal Cards (changing game state)
</p>
<button (click)='deal()'>Deal</button>
<button (click)='flop()'>Flop</button>
<button (click)='turn()'>Turn</button>
<button (click)='river()'>River</button> -->


