<ng-container *ngIf='gameActive'>
	<div id="shared-cards">
		<div *ngFor='let cardNumberSuit of sharedCards' class="card {{cardNumberSuit}}"></div>
	</div>
	<div id="pot-wrapper" *ngIf="gameStage > 0 && gameStage < 5">
		<div class="poker-chipcounter"><span>{{ potChips | currency }}</span></div>
	</div>
	<div id="action-buttons" *ngIf='isMyTurn()'>
		<div *ngIf='turnOptions === "before-bets"'><button (click)="check()" id="check">Check</button></div>
		<div *ngIf='turnOptions === "after-bets"'><button (click)="call()" id="call">Call: costs {{ costToCall | currency }}</button></div>
		<div *ngIf='turnOptions === "before-bets"'><button (click)="placeBet()" id="bet" [class.disabled]='!(betAmount > 0 && betAmount <= maximumBet)'>{{getBetButtonString()}}</button><input type="number" #bet (keyup)="changeBet(bet.value)" placeholder="Amount" /></div>
		<div *ngIf='turnOptions === "after-bets"'><button (click)="raiseBet()" id="raise" [class.disabled]='!(raiseAmount > 0 && getTotalCostToRaise() <= maximumBet)'>{{getRaiseButtonString()}}</button><input type="number" #raise (keyup)="changeRaise(raise.value)" placeholder="Amount" /><span id="total-bet-from-raise">Total: {{ getTotalCostToRaise() | currency}}</span></div>
		<div><button (click)="fold()" id="fold">Fold</button></div>
		<div *ngIf='turnOptions === "end-not-called"'><button (click)="showCards()" id="show-cards">Show Cards</button></div>
		<div *ngIf='turnOptions === "end-not-called"'><button (click)="muckCards()" id="muck-cards">Muck Cards (Don't show)</button></div>
	</div>
	<div id="game-over" *ngIf='gameWinner'>
		Game won by {{gameWinner.display_name}}!
	</div>
	<div id="action-buttons" *ngIf='gameWinner'>
		<div><button id="reset-game" (click)='resetGame()'>Reset - Start New Game!</button></div>
	</div>	
	<div id="hand-over" *ngIf='winners.length > 0'>
		Hand Winner(s):
		<p *ngFor="let winner of winners">
			{{winner.display_name}} with {{winner.hand_name}}
		</p>
	</div>
	<div id="action-buttons" *ngIf='gameStage === 0'>
		<div><button id="deal-cards" (click)='dealCards()'>Deal Cards</button></div>
	</div>
	<div id="action-buttons" *ngIf='gameStage === 5 && !gameWinner'>
		<div><button id="deal-cards" (click)='dealCards()'>Deal Next Hand</button></div>
	</div>
</ng-container>
<ng-container *ngIf='!gameActive'>
	<p *ngIf="playerList.length > 0">Player List:</p>
	<ol>
		<li *ngFor="let player of playerList">{{player.displayName}}</li>
	</ol>
	<div id="action-buttons" *ngIf='playerList.length > 1'>
		<div><button id="start-game" (click)='startGame()'>Start Game!</button></div>
	</div>
</ng-container>
<!-- Load image assets before needed -->
<div id="preloader"></div>
