#preloader{
	background-image: url('../../../assets/games/poker/deck-1.png');
	width: 0.1px;
	height: 0.1px;
	position: fixed;
	bottom: 0;
	right: 0;
}
#shared-cards{
	width: 100%;
	padding-left: 2.5%;
}
.card{
	width: 17%;
	padding-top: 25%;
	background-color: white;
	background-image: url('../../../assets/games/poker/deck-1.png');
	background-size: 1300% 400%;
	box-shadow: 0.1vw 0.1vw 0.3vw -0.1vw black;
	border-radius: 0.5vw;
	border-width: 0.2vw;
	border-style: solid;
	border-color: white;
	margin: 1%;
	display: inline-block;
	transition: all 450ms ease;
	box-sizing: border-box;
	backface-visibility: hidden; // fix to aliased jaggies when transform-rotate is applied
}
.back{
	background-image: url('../../../assets/games/poker/card-back-1.svg');
	background-size: 100% 100%;
}
.clubs{
	background-position-y: 0%;
}
.diamonds{
	background-position-y: 300%;
}
.hearts{
	background-position-y: 200%;
}
.spades{
	background-position-y: 100%;
}
.ace{
	background-position-x: 0%;
}
.two{
	background-position-x: 1200%;
}
.three{
	background-position-x: 1100%;	
}
.four{
	background-position-x: 1000%;
}
.five{
	background-position-x: 900%;
}
.six{
	background-position-x: 800%;	
}
.seven{
	background-position-x: 700%;
}
.eight{
	background-position-x: 600%;
}
.nine{
	background-position-x: 500%;	
}
.ten{
	background-position-x: 400%;
}
.jack{
	background-position-x: 300%;
}
.queen{
	background-position-x: 200%;	
}
.king{
	background-position-x: 100%;	
}
