#video-pic-block, #start-join-block{
	display: inline-block;
	position: absolute;
	top: calc((100vh - (15vw + 15vw + 3vw))/2 * 0.9);

	& > *{
		border-radius: 0.45vw;
	}
}

#video-pic-block{
	left: 22.4vw;
	
	p{
		font-size: 1.3vw;
		line-height: 1.5vw;
	}
}
#video-or-pic{
	width: 22vw;
	height: 22vw;
	text-align: center;
	font-size: 1.4vw;
	overflow: hidden;
	padding-top: 10vw;
	box-sizing: border-box;
	background-image: url('https://picsum.photos/500');
	background-size: cover;
}
.quick-details{
	padding: 0 0.8vw;	
}

#start-join-block{
	right: 22.3vw;

	& > *{
		width: 30vw;
		height: 13vw;
		line-height: 13vw;
		text-align: center;
		font-size: 2.2vw;
		cursor: pointer;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		transition: all ease 100ms;
		overflow: hidden;

		.display-when-open{
			display: none;
			line-height: initial;
			text-align: center;
			width: 100%;

			div {
				// display: block;
				
				input{
					border: none;
					font-size: 1.7vw;
					padding: 0.6vw;
					text-align: center;
					background-color: rgba(255,255,255,0.95);
					color: #383838;
					width: 70%;
				}
				button{
					border: none;
					font-size: 1.5vw;
					padding: 0.7vw 2vw;
					margin-top: 1.2vw;
					border-width: 2px;
					border-radius: 0.4vw;
					cursor: pointer;
					text-transform: uppercase;
					font-family: Muli, sans-serif;
					font-style: italic;
					color: #383838;
				}
				button:hover{
					color: #222;
				}
			}
			
		}
	}
	& > *.open{
		height: 22vw;
		border-color: rgba(255, 255, 255, 0.637);
		cursor: initial;
		
		.display-when-open{
			display: initial;
		}
	}
	& > *.closed{
		height: 4vw;
		line-height: 4vw;
	}
	& > *:hover{
		color: white;
		border-color: white;
	}	
}
#start-a-room{
	background-color: rgb(0, 74, 143);
	margin-bottom: 3vw;
}
#join-a-room{
	background-color: rgb(0, 143, 131);
}
