// #video-pic-block, #start-join-block{
// 	display: inline-block;
// 	position: absolute;
// 	top: calc((100vh - (15vw + 15vw + 3vw))/2 * 0.9);

// 	& > *{
// 		border-radius: 1vw;
// 	}
// }

// #video-pic-block{
// 	left: 22.4vw;
	
// 	p{
// 		font-size: 2.1vw;
//     	margin-top: 0.45vw;
// 	}
// }
// .quick-details{
// 	padding: 0 1vw;	
// 	width: 22vw;
//     box-sizing: border-box;
// }

#start-join-block{
	display: inline-block;
	position: absolute;
	top: calc((100vh - (15vw + 15vw + 3vw))/2 * 0.9);
	right: 50%;
	transform: translateX(50%);

	& > *{
		border-radius: 1vw;
		width: 30vw;
		height: 13vw;
		line-height: 13vw;
		text-align: center;
		font-size: 2.2vw;
		cursor: pointer;
		// border-width: 0.2vw;
		// border-style: solid;
		// border-color: transparent;
		transition: all ease 100ms;
		overflow: hidden;
		color: rgb(236, 236, 236);

		.display-when-open{
			display: none;
			line-height: initial;
			text-align: center;
			width: 100%;

			div {
				// display: block;
				
				input{
					border: none;
					font-size: 1.7vw;
					padding: 0.6vw;
					text-align: center;
					background-color: rgba(255,255,255,0.95);
					color: #383838;
					width: 70%;
				}
				input::placeholder{
					color: rgb(150, 150, 150);
				}
				button{
					border: none;
					font-size: 1.5vw;
					padding: 0.7vw 2vw;
					margin-top: 1.2vw;
					border-width: 2px;
					border-radius: 0.4vw;
					cursor: pointer;
					text-transform: uppercase;
					font-family: Muli, sans-serif;
					font-style: italic;
					color: #383838;
				}
				button:hover{
					color: #222;
				}
			}
			
		}
	}
	& > *.open{
		height: 22vw;
		border-color: rgba(255, 255, 255, 0.637);
		cursor: initial;
		
		.display-when-open{
			display: initial;
		}
	}
	& > *.closed{
		height: 4vw;
		line-height: 4vw;
	}
	& > *:hover:not(.open){
		color: white;
		text-decoration: underline;
	}
}
#start-a-room{
	background-color: #2184FF;
	margin-bottom: 3vw;	
}
#join-a-room{
	background-color: #da3b36;
}

#room-error {
	line-height: 12px;
	float: left;
	margin-top: -60px;
	padding: 0 20px;
	span {
		font-size: 12px;
		color: black;
	}
}